@page "/eventos"
@using Entities.Models;
@inject HttpClient Http;
@inject NavigationManager Navigation
@using System.Net.Http.Json;
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav" style="background-color: #e3f2fd;">
            <div class="container" style="background-color: #e3f2fd;">
                <a class="navbar-brand" href="#page-top">RECYCLE PLASTIC</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #e3f2fd;">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" style="background-color: #e3f2fd;">
                    <ul class="navbar-nav ms-auto" style="background-color: #e3f2fd;">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/QuienesSomos">¿Quienes Somos?</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/Registration">REGISTRARSE</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/login">LOGIN</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/products">PROYECTOS</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/eventos">Eventos</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/sitesRecycle">REGISTRAR LOCALES</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/counter">TEMAS</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/CentreRecycle">MAPA</a></li>


                    </ul>
                </div>
            </div>
        </nav>
        <h3>PEQUEÑOS EVENTOS</h3>

        @if (_proyectos == null)
        {
            <p><em>Cargando...</em></p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>EVENTO</th>
                        <th>LUGAR</th>
                        <th>ORGANIZADOR</th>
                        <th>CONTACTO</th>
                        <th>FECHA</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var eventos in _proyectos)
                    {
                        <tr>
                            <td>@eventos.Id</td>
                            <td>@eventos.Evento</td>
                            <td>@eventos.Lugar</td>
                            <td>@eventos.Organizador</td>
                            <td>@eventos.Contacto</td>
                            <td>@eventos.Fecha</td>

                            @*<td>
                                    <button class="btn btn-info"
                                            @onclick="(() => Edit(eventos.Id))">
                                        Edit
                                    </button>
                                    <button class="btn btn-danger"
                                            @onclick="(() => Delete(eventos.Id))">
                                        Delete
                                    </button>
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <button class="btn btn-success" @onclick="Create">CREAR</button>
            </div>
        }

        @code {


            private List<Events> _proyectos;

            protected override async Task OnInitializedAsync()
            {
                _proyectos = await Http.GetFromJsonAsync<List<Events>>("eventos");
            }

            private async Task Delete(int id)
            {
                await Http.DeleteAsync($"eventos/{id}");
                _proyectos = await Http.GetFromJsonAsync<List<Events>>("eventos");
                StateHasChanged();
            }

            private void Edit(int id)
            {
                Navigation.NavigateTo($"/evento/edit/{id}");
            }

            private void Create()
            {
                Navigation.NavigateTo("/evento/create");
            }
        }
        </body>